<br>
<h3>Estos son nuestros servicios</h3>
<br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
  </div>
  <br>
  <div class="row align-items-center">
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
    <div class="col">
   <div class="card text-bg-warning" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Nombre de la materia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-header"><button type="button" class="btn btn-light">Conoce nuestros profesores</button></div>
</div>
    </div>
  </div>
</div>
<div align=right>
  <a routerLink="/home" class="btn btn-warning">Ir a home..</a>
</div>
<br>
